<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading">
            <a href="./" class="nav-link">
                <i class="fa fa-home"></i>
                Home
            </a>
        </h6>

        <h6 class="sidebar-heading">
            CIS-116 Introduction to Programming
        </h6>
        <ul class="sidebar-nav-list">
            <li class="nav-item"><a class="nav-link" href="intro-dev-tools">Setting Up a Local Development Environment</a></li>
        </ul>

        <div class="sidebar-heading">
            <h6>Additional Resources</h6>
        </div>
        <ul class="sidebar-nav-list">
            <li class="nav-item"><a class="nav-link" href="#">---</a></li>        
        </ul>
    </div>
</nav>